<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @listing.unit %>
</p>

<p>
  <strong>Quantity total:</strong>
  <%= @listing.quantity_total %>
</p>

<p>
  <strong>Quantity available:</strong>
  <%= @listing.quantity_available %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @listing.rating %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @listing.reviews %>
</p>

<p>
  <strong>Images:</strong>
  <% @listing.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @listing.sold %>
</p>
<%# potentially move javascript in script tage to separate js file %>
<button data-stripe="payment">
Buy Now
</button>

<script src="https://js.stripe.com/v3/"></script>
<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :publishable_key) %>"
      )

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      })
    })
</script>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
