<div class="w-64 flex shadow-lg flex-col bg-cover bg-center justify-content bg-white p-6 rounded pt-8 pb-8 m-auto">
  <div class="text-center text-gray-500 mb-6">
    <h2>Change your password
    </h2>
  </div>
  <div>
<div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div>
      <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", style: "bg-transparent border-b m-auto block border-gray-500 w-full mb-6 text-gray-500 pb-1" %>
    </div>

    <div>
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", style: style: "bg-transparent border-b m-auto block border-gray-500 w-full mb-6 text-gray-500 pb-1" %>
    </div>

    <div>
      <input class="shadow-lg pt-3 pb-3 mt-6 w-full text-white bg-indigo-500 hover:bg-white hover:text-indigo-500 rounded-full "
      type="submit" value="Change Password">
    </div>
  <% end %>
  </div>
  <div>
    <br />
      <%= render "devise/shared/links" %>
    </div>
  </div>
